<template>
  <div class="pagination">
    <a href="#" @click="prevPage">&laquo;</a>
    <a>{{ currentPage }}</a>
    <a href="#" @click="nextPage">&raquo;</a>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { useStore } from "@/store";

export default defineComponent({
  setup() {
    const store = useStore();
    const currentPage = ref(1);
    const itemsPerPage = ref(10);

    const fetchBeers = () => {
      store.dispatch("fetchBeers", {
        page: currentPage.value,
        itemsPerPage: itemsPerPage.value,
      });
    };

    const clearBeerSelection = () => {
      store.dispatch("setSelectedBeerId", null);
    };

    const nextPage = () => {
      currentPage.value++;
    };

    const prevPage = () => {
      if (currentPage.value !== 1) {
        currentPage.value--;
      }
    };

    watch(currentPage, (newVal, oldVal) => {
      if (newVal !== oldVal) {
        fetchBeers();
        clearBeerSelection();
      }
    });

    fetchBeers();

    return { currentPage, prevPage, nextPage };
  },
});
</script>

<style scoped>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
</style>
