<template>
  <div>
    <ul>
      <li v-for="beer in beers" :key="beer.id">
        <a @click="setSelectedBeerId(beer.id)">
          {{ beer.name }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { useStore } from "@/store";

export default defineComponent({
  setup() {
    const store = useStore();
    const setSelectedBeerId = (beerId: number) =>
      store.dispatch("setSelectedBeerId", beerId);

    return { beers: computed(() => store.state.beers), setSelectedBeerId };
  },
});
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

a:hover {
  color: #36495e;
  cursor: pointer;
}
</style>
