<template>
  <div v-if="selectedBeerId">
    <h3>{{ getSelectedBeer.name }}</h3>
    <h4>{{ getSelectedBeer.tagline }}</h4>
    <img :src="getSelectedBeer.image_url" alt="Beer Image" height="300" /><br />
    <span>{{ getSelectedBeer.description }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";
import { useStore } from "@/store";

export default defineComponent({
  setup() {
    const store = useStore();

    return {
      selectedBeerId: computed(() => store.state.selectedBeerId),
      getSelectedBeer: computed(() => store.getters["getSelectedBeer"]),
    };
  },
});
</script>
