<template>
  <div id="app">
    <BeerHeadline />
    <BeerList />
    <BeerPagination />
    <BeerDetail style="margin-top: 60px" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BeerHeadline from "./components/BeerHeadline.vue";
import BeerList from "./components/BeerList.vue";
import BeerPagination from "./components/BeerPagination.vue";
import BeerDetail from "./components/BeerDetail.vue";

export default defineComponent({
  name: "App",
  components: {
    BeerHeadline,
    BeerList,
    BeerPagination,
    BeerDetail,
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
